<div id="sampleDemo" style="" class="demo-padding demo-container">
      <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
        
        <div id='sunburst-container'>
            <oj-sunburst 
              animation-on-display="auto"
              color-label="Median Household Income" size-label="Population"
              node-defaults.label-display="rotated"
              nodes="[[nodeValues]]"
              style="max-width:650px;width:100%; height:650px;">
            </oj-sunburst>
        </div>

        
      </div>
    </div>